/************ GENERAL ************/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #2A2A2A; }

/************ NAV ************/
nav {
  background-color: #ffffff;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2); }
  nav.navbar-custom {
    padding-top: 0;
    padding-bottom: 0; }
  nav .navbar-nav .nav-item .nav-link {
    color: #75A333;
    border-radius: 3px;
    transition: font-weight 1s, background-color 1s, color 1s;
    font-size: 1.2rem; }
    nav .navbar-nav .nav-item .nav-link:hover, nav .navbar-nav .nav-item .nav-link:active, nav .navbar-nav .nav-item .nav-link:focus {
      background-color: #75A333;
      color: #ffffff;
      font-weight: bold; }
  nav .navbar-brand img {
    width: 45px;
    height: 45px; }
  nav button.navbar-toggler.custom-toggler {
    color: #75A333;
    border-color: #75A333;
    transition: color 1s, background-color 1s, transform 1s;
    padding: 4px 6.5px; }
    nav button.navbar-toggler.custom-toggler:hover {
      color: #ffffff;
      background-color: #75A333;
      transform: rotate(360deg); }
      nav button.navbar-toggler.custom-toggler:hover .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
    nav button.navbar-toggler.custom-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(117,163,51)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

/************ TITLE ************/
.title {
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .title .hero {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 50%;
    text-align: center;
    border-radius: 10px; }
    .title .hero img {
      max-width: 300px; }

/************ BASE ************/
.bg {
  padding: 60px 0; }

.bg-active {
  background-color: #75A333; }

.bg-base {
  background-color: #ffffff; }

section h2 {
  text-align: center;
  margin-bottom: 60px; }

/************ ABOUT_US ************/
#about-us {
  font-size: 20px;
  text-align: center; }
  #about-us div.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; }
  #about-us div.container div {
    padding: 15px; }
  #about-us div.container div:first-child {
    flex: 2; }
  #about-us div.container div:last-child {
    flex: 1; }
  #about-us img {
    border-radius: 50%;
    max-width: 300px;
    box-shadow: 0 0 15px #2A2A2A; }

/************ NEWS ************/
#news img {
  max-width: 300px;
  margin-top: 15px; }

/************ SERVICES ************/
#services .service-card {
  position: relative;
  margin-bottom: 60px; }
#services .service-text, #services .service-title {
  margin-left: 30px;
  background-color: #75A333;
  color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px; }
#services .service-text {
  text-align: justify;
  padding-top: 15px; }
#services .service-title {
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  padding-top: 30px;
  padding-right: 30px; }
#services .service-icon {
  font-size: 35px;
  padding: 20px 25px;
  position: absolute;
  top: -30px;
  left: 20px;
  color: #2A2A2A;
  border: 5px solid #2A2A2A;
  border-radius: 5px;
  background-color: #ffffff;
  min-width: 105px;
  min-height: 105px;
  text-align: center; }
#services .active .service-text, #services .active .service-title {
  background-color: #2A2A2A;
  color: #ffffff;
  border-radius: 2px #2A2A2A; }
#services .active .service-icon {
  border: 5px solid #75A333;
  color: #75A333; }

/************ SERVICES ************/
#offer .offer-card {
  border-radius: 2px;
  position: relative;
  margin-bottom: 30px; }
  #offer .offer-card div {
    align-items: center;
    text-align: center;
    background-color: #ffffff; }
    #offer .offer-card div div {
      padding-top: 25px;
      padding-bottom: 25px; }
  #offer .offer-card .offer-price {
    font-size: 18px;
    font-weight: bold; }
  #offer .offer-card .offer-circle {
    position: absolute;
    border: 3px solid #75A333;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 0 0 10px #2A2A2A;
    right: 38px;
    background-color: transparent; }
  #offer .offer-card .offer-icon {
    font-size: 30px;
    text-align: center;
    border-right: 2px solid #2A2A2A; }

/************ GALLERY ************/
#gallery div {
  justify-content: center;
  text-align: center;
  margin-top: 15px; }
#gallery img {
  transition: opacity 1s, transform 1s;
  box-shadow: 0 0 10px #2A2A2A; }

/************ CONTACT ************/
#contact #map {
  height: 100%;
  width: 100%;
  min-height: 125px;
  max-height: 125px;
  max-width: 300px;
  margin: auto;
  box-shadow: 0 0 14px #2A2A2A, 0 0 5px #2A2A2A; }
#contact table tr {
  border-bottom: 1px solid #2A2A2A; }
  #contact table tr:last-child {
    border-bottom: none; }
#contact table td {
  padding: 8px;
  color: #ffffff; }
  #contact table td a {
    color: #ffffff;
    text-decoration: none; }
#contact table .icon-cell {
  width: 30px; }

/*# sourceMappingURL=style.css.map */
