/************ GENERAL ************/

$active-color: #8ab933;
$base-color: #ffffff;
$accent-color: #2A2A2A;
$handwriting-font: 'Charm', cursive;

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: $accent-color;
}

/************ NAV ************/

header {
	button.navbar-toggler.custom-toggler {
		color: $active-color;
		border-color: $active-color;
		transition: color 1s, background-color 1s, transform 1s;
		padding: 4px 6.5px;
		top: 10px;
		right: 10px;
		z-index: 3000;

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

			&:focus {
				outline: none;
			}
		}

		&.open {
			.navbar-toggler-icon {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(117,163,51)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
			}
		}

		&:hover, &:active {
			color: $base-color;
			background-color: $active-color;
			transform: rotate(360deg);

			.navbar-toggler-icon {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
			}
		}

		&:focus {
			outline: none;
		}
	}
}

nav {
	z-index: 1000;
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2);

	div {
		background-color: $base-color;
		min-height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;

		.brand {
			position: absolute;
			top: 30px;

			img {
				max-width: 100px;
			}
		}

		ul {
			width: 100%;
			list-style-type: none;
			padding: 0;
			margin: 0;
			padding-top: 50px;

			li {
				a {
					color: $active-color;
					border-radius: 3px;
					transition: font-weight 1s, background-color 1s, color 1s;
					font-size: 1.2rem;

					&.active {
						background-color: $active-color;
						color: $base-color;
						font-weight: bold;
					}

					&:hover, &:active, &:focus {
						background-color: $active-color;
						color: $base-color;
						font-weight: bold;
					}
				}
			}
		}

		.admin-link {
			position: absolute;
			text-decoration: none;
			color: $active-color;
			bottom: 10px;
			font-size: 10px;
			letter-spacing: 3px;

			&:hover {
				color: $accent-color;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	nav {
		display: none;
		z-index: 2000;

		div {
			background-color: rgba(255, 255, 255, 0.9);
		}
	}
}

/************ TITLE ************/

.title {
	background-image: url("../img/hero.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.hero {
		background-color: rgba(255, 255, 255, 0.7);
		max-width: 50%;
		text-align: center;
		border-radius: 10px;

		img {
			max-width: 300px;
		}
	}
}

/************ BASE ************/

.bg-active {
	background-color: $active-color;
}

.bg-base {
	background-color: $base-color;
}

section h2, section h1 {
	text-align: center;
	margin-bottom: 3rem;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
}

section {
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 100vh;
}

/************ ABOUT_US ************/

#about-us {
	text-align: justify;

	h2 {
		margin-bottom: 2rem;
	}

	img {
		border-radius: 50%;
		max-width: 350px;
		box-shadow: 0 0 15px $accent-color;
	}

	div {
		align-items: center;
	}
}

/************ NEWS ************/

#news {
	.card-news div {
		box-shadow: 0 2px 5px $accent-color;
	}

	img {
		max-height: 250px;
		margin-top: 15px;
	}
}

/************ SERVICES ************/

#services {
	.service-card {
		position: relative;
		margin-bottom: 60px;
	}

	.service-text, .service-title {
		margin-left: 30px;
		background-color: $base-color;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}

	.service-text {
		text-align: justify;
		padding-top: 15px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.service-text.info {
		padding-left: 90px;
	}

	.service-title {
		font-weight: bold;
		font-size: 16px;
		text-align: right;
		padding-top: 30px;
		padding-left: 90px;
	}

	.service-icon {
		font-size: 35px;
		padding: 20px 25px;
		position: absolute;
		top: -30px;
		left: 20px;
		color: $accent-color;
		border: 5px solid $accent-color;
		border-radius: 5px;
		background-color: $base-color;
		min-width: 105px;
		min-height: 105px;
		text-align: center;
	}
}

@media screen and (max-width: 1180px) {
	#services {
		.service-title.long {
			padding-top: 10px;
			padding-bottom: 5px;
		}
	}
}

@media screen and (max-width: 992px) {
	#services {
		.service-title.long {
			padding-top: 30px;
		}
	}
}

@media screen and (max-width: 768px) {
	#services {
		.service-text.info {
			padding-left: 70px;
		}
	}
}

/************ OFFER ************/

#offer {
	.offer-header {
		margin-bottom: 10px;
		min-height: 70px;

		div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: $base-color;
			font-size: 25px;
			box-shadow: 0 2px 2px $accent-color;

			&:last-child {
				border-left: 1px solid black;
			}

			small {
				padding-top: 5px;
				font-size: 14px;
			}
		}
	}

	.offer-row-price {
		margin-bottom: 10px;
		min-height: 70px;

		div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: $base-color;
			font-size: 25px;
			box-shadow: 0 2px 2px $accent-color;

			&:last-child {
				border-left: 1px solid black;
			}

			small {
				padding-top: 5px;
				font-size: 14px;
			}
		}

		.offer-price {
			font-size: 18px;
			font-weight: bold;
		}

		.offer-text {
			font-size: 18px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 15px;
		}
	}

	.offer-card {
		border-radius: 2px;
		position: relative;
		margin-bottom: 10px;
		min-height: 70px;
		box-shadow: 0 2px 2px $accent-color;

		div {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			background-color: $base-color;
		}

		.offer-icon {
			font-size: 50px;
			text-align: center;
		}

		.offer-text {
			font-size: 18px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 15px;
		}
	}
}

/************ GALLERY ************/

#gallery {
	div {
		justify-content: center;
		text-align: center;
		margin-top: 15px;
	}

	img {
		transition: opacity 1s, transform 1s;
		box-shadow: 0 0 10px $accent-color;
		max-height: 500px;
	}
}

/************ CONTACT ************/

#contact {
	#map {
		width: 100%;
		height: 200px;
		max-width: 400px;
		margin: auto;
		box-shadow: 0 0 14px $accent-color, 0 0 5px $accent-color;
	}

	.info {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 14px;

		.icon {
			margin-right: 10px;
			background-color: $base-color;
			box-shadow: 0 0 14px $accent-color, 0 0 5px $accent-color;
			border-radius: 20px;
			padding: 10px;
			width: 41px;
			text-align: center;
		}

		.info-text {
			padding: 10px;
		}

		a {
			text-decoration: none;
			color: $accent-color;
		}
	}
}

/************ MEDIA QUERIES ************/

@media screen and (max-width: 767px) {
	body {
		font-size: 14px;
	}

	.title {
		.hero {
			img {
				max-width: 100%;
			}
		}
	}

	#about-us {
		img {
			max-width: 100%;
		}
	}

	#news {
		img {
			max-width: 100%;
		}
	}

	#services {
		.service-title {
			font-size: 16px;
			padding-left: 50px;
		}

		.service-icon {
			font-size: 31px;
			padding: 10px 12.5px;
			top: -30px;
			left: 20px;
			min-width: 80px;
			min-height: 80px;
		}
	}

	#offer {
		.offer-header {
			div {
				font-size: 15px;

				small {
					font-size: 10px;
				}
			}
		}

		.offer-card {
			.offer-price {
				font-size: 13px;
			}

			.offer-icon {
				font-size: 30px;
			}

			.offer-text {
				font-size: 13px;
			}
		}

		.offer-row-price {
			.offer-price {
				font-size: 13px;
			}

			.offer-text {
				font-size: 13px;
			}
		}
	}

	section h1, section h2 {
		font-size: 25px;
		line-height: 35px;
	}
}